body{
  width:80%;margin:auto;
  font-family: 'Roboto', sans-serif;
  color: #111111;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {color: #0074D9;}
a:active, a:hover {color: #B10DC9;}
/*a:visited {color: #85144B;}*/
