@font-face {
  font-family: 'ClearSans-Bold';
  src: url('fonts/ClearSans-Bold.eot');
  src: url('fonts/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/ClearSans-Bold.woff') format('woff'),
       url('fonts/ClearSans-Bold.ttf') format('truetype'),
       url('fonts/ClearSans-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ---------------------
TYPOGRAPHY
--------------------- */

body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #575553;
  line-height: 1.5625;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ClearSans-Bold', ’HelveticaNeue-Bold’, 'Helvetica Neue Bold', sans-serif;
  color: #003e54;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.375em; /*38px*/
  line-height: 1.4;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 1.875em; /*30px*/
}

h3 {
  font-size: 1.375em; /*22px*/
}

h4 {
  font-size: 1.125em; /*18px*/
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

h5 {
  font-size: 1.125em; /*18px*/
}

p, ol, ul {
  font-size: 1em; /*16px*/
}

a {
  color: #30acc2;
}

a:active, a:hover {
  color: #247f8f;
}

/* ---------------------
HEADER
--------------------- */

.header {
  background: #247f8f url('../img/hacker-report-header.jpg') no-repeat center top;
  background-size: cover;
  text-align: center;
  padding: 3em;
}

.header h1, 
.header h2 {
  color: white;
}

.header h2 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: normal;
}

.header img {
  height: 38px;
  margin-bottom: 0.7em;
}